.main {
    border: 2px solid black;
    width: 400px;
    height: 625px;
    margin: auto;
    background-color: black;
    border-radius: 4px;
    margin-top: 50px;
  }
  .calculator {
    height: 450px;
    margin: 10px;
    margin-left: 15px;
  }
  .calculator input[type="button"] {
    background-color: lightcyan;
    width: 110px;
    height: 60px;
    margin: 6px;
    border-radius: 6px;
    font-size: 30px;
    border: none;
  }

  .back{
    background-color:black;
    width: 57px;
    height: 74.5px;
    margin-top: 17px;
    border: none;
    font-size: 25px;
    border-radius: 4px;
    color:white;
  }

  #response{
    width: 300px;
     height: 70px;
      font-size: 35px; 
      margin: 17px 6px 5px 15px;
  }